@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 245 245 245;
  --text-color: 30 41 59;
}



body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: rgb(var(--background));
  color: rgb(var(--text-color));
}

main {
  width: 100%;
}
